.box{
    border: 1px solid ;
    
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1px;
    border-color: rgb(160,160,255)
    
   
    
}
.row{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    
    
}

.container{
    display: flex;
    max-width: 600px;
    min-height: 600px;
    flex: 1;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;

}

button{
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #5dbea3;

}

.buttonCont{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    

}
