.box{
    border: 10px solid black;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}