.box{
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}
.row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

button{
    margin-bottom: 30px;

}